p {
    color: red;
}
.d-flex .my-2 .p-2 {
    text-decoration: none;
    text-align: center;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 20px;
}
.logo img {
    border: 4px solid white;
    border-radius: 16px;
}
.info {
    margin-top: 70px;
    width: 700px;
    background: white;
    text-align: center;
    margin-left: 350px;
}
.info p {
    color: black;
    font-size: 15px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}
.info h1 {
    color: black;
    font-size: 18px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}
.home-list {
    margin-bottom: 20px;
}
.home-list .list-group-item a{
    text-decoration: none;
    color: black;
}
.home-list .list-group .list-group-item {
    padding: 40px;
    border: 2px solid beige;
    border-radius: 16px;
}
.main-text{
    text-align: center;
    text-decoration: none;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

/*td, th {*/
/*  border: 1px solid #dddddd;*/
/*  text-align: left;*/
/*  padding: 8px;*/
/*}*/
/*tr:nth-child(even) {*/
/*  background-color: #dddddd;*/
/*}*/

