/*body {*/
/*    background-image: url(/static/confluence-etr.jpg);*/
/*}*/
p {
    color: red;
}
a {
    text-decoration: none;
    color: blue;
    text-align: center;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
    font-size: 40px;
}
li {
    padding: 30px;
}
.wrapper {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-right: 50px;
}
.wrapper ul li{
    display: inline;
}
.logo {
    text-align: center;
    margin-top: 20px;
}
.logo img {
    border: 4px solid white;
    border-radius: 16px;
}
.info {
    margin-top: 70px;
    width: 700px;
    background: white;
    text-align: center;
    margin-left: 350px;
}
.info p {
    color: black;
    font-size: 15px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}
.info h1 {
    color: black;
    font-size: 18px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

