{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="main-text">
    <h1><img src="{% static 'critical.png' %}" width="50" height="50">&nbsp&nbspCritical</h1>
</div>
<hr>
<div class="mid-dict3">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">Vuln ID</th>
          <th scope="col">Description</th>
          <th scope="col">Score</th>
        </tr>
      </thead>
      <tbody>
      {% for i in cves2 %}
          {% if i.score > 9 %}
                <tr>
                  <th><a href="https://nvd.nist.gov/vuln/detail/{{ i.vuln|upper }}">{{ i.vuln|upper }}</a></th>
                  <td style='font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif'>{{ i.description }}</td>
                  <td style='background: red; font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;'>{{ i.score }}</td>
                </tr>
          {% endif %}
      {% endfor %}
      </tbody>
    </table>
</div>
<hr>
<div class="d1">
    <h6><a href="{% url 'get_critical_pdf' %}"><img src="{% static 'pdf.png' %}" width="30" height="30"></a>Download PDF</h6>
</div>
<hr>
{% endblock %}